<img src="#"></img>

<h1>Eat-Da-Burger!</h1>

<form>
    <textarea name="new-burger"></textarea></br>
    <input type="submit">
    <p>Enter a burger you want to eat. Click the "Submit" button.</p>
</form>

